@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
/* Form CSS */
div.contactus-form{
	max-width:370px;
	padding:0px;
	box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}
form.reg_form{
	margin-bottom: 0px;	
}	
div.contactus-form div.joomly-contactus-div{
	margin-bottom: 10px;	
}	
.contactus-center{
	margin-right:auto;
	margin-left:auto;
}	
/* CSS Buttons */
div.contactus-form button.button{
   padding: 14px 18px;
   border: 0 none;
   font-weight: 700;
   letter-spacing: 1px;
   display:block;
   text-transform: uppercase;
   height:auto;
   width: auto;
   max-width:100%;
   color: #ffffff;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	cursor: pointer;
	margin-top:5px;
	background-color: #22b8f0
}
div.contactus-form button.button:hover{
	opacity: 0.8;
	outline: 0 none;
}
div.message > a.fontsize8{
	font-size:8px;
	margin-right: 3%;
}
div.message{
	text-align: right;
}	
/* CSS Fields */
input[type="email"].contactus-fields,input[type="text"].contactus-fields,input[type="tel"].contactus-fields,textarea.contactus-textarea{	
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
	border-radius: 0px;
    vertical-align: middle;
	color: #555;
	background-color: #fff;
	height:30px;
	width:100%;
	padding: 4px 6px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 13px;
    line-height: 18px;
	margin:0px;
}	
textarea.contactus-textarea{
	padding: 4px 6px;
	height: 110px;
}

/* CSS Alerts */
div.contactus-alert{
	display:none;
    position:absolute;
    background:white;
    z-index:1000000;
	padding:0px;
	top:-400px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}	
.dimmer{
	z-index:999995;
	position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:black no-repeat scroll center center;
	opacity: 0.5;
}
div.contactus-lightbox-caption{
	border-bottom: 1px solid #E0D8D8;
}
div.contactus-lightbox-caption > div{
	display:inline-block;
}
div.contactus-lightbox-body{
	padding:20px 15px 10px 15px;
	background-color: #fff;
}
div.contactus-alert-body{
	padding: 20px;
}
div.contactus-lightbox-cap{
	margin-left:10%;
	width:80%;
}	
div.contactus-lightbox-caption{
	color:white;
}
p.contactus-lightbox-text-center{
	text-align:center;
	margin: 0px;
}
div.contactus-lightbox-cap > h4{
	margin-top:10px;
	margin-bottom:10px;
	font-size: 14px;
    line-height: 16px;
	text-align:center;
	color:white;
}
div.contactus-alert > p{
	margin: 20px 0px 30px 0px;
	text-align:center;	
	font-size: 16px;
}
div.contactus-lightbox-closer{
	width:10%;
}
div.contactus-lightbox-closer > i{
	float:right;
	cursor: pointer;
	margin-right:10px;
	color:white;
}
.grecaptcha-badge {
	display:none;
}